{% extends 'base.html' %}
{% block content %}

<h1>Style List</h1>

{% for style in styles %}
<div class="card">
    <a href="{% url 'detail' style.id %}">
        <div class="card-content">
            <span class="card-title">
                {{ style.title }}
            </span>
            <p>Brand: {{ style.brand }}</p>
            {% if style.description %}
            <p>Description: {{ style.description }}</p>
            {% endif %}
            <p>Era: {{ style.era }}</p>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}